.shop-car{
	.item-title{
	}
	.pro-item{
		background-size: cover;
	  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
	}
  

}
.car-drawer-boby{
		padding: 0 !important;
	
	}
.car-item{
	
}	
.car-item-button{
	padding: 5px !important;
	height: 16px;
	line-height: 16px;
}